* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container__watch {
    /* display: ; */
    justify-content: center;
    /* margin-top: auto; */
    background-color: rgb(210, 210, 243);
    padding: 5%;
    margin: 5%;
    border-radius: 20%;
}

.header__watch {
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    font-style: italic;
    /* color: rgb(121, 84, 84); */
}

span {
    display: flex;
    flex-direction: column;
    /* border-radius: 50%; */
    border: rgba(46, 194, 46, 0.651) solid;
    padding: 0.2%;
    margin: 4% 1%;
}

.displays__watch {
    /* display: ; */
    font-size: xxx-large;
    /* border: coral solid; */
    text-align: center;
    color: rgba(255, 60, 0, 0.685);
    border-radius: 20%;
    margin-bottom: 0% 2%;
    padding-left: 2% 0%;
    font-size: 150%;
    font-weight: 600;
    font-style: italic;
}

button {
    display: inline;
    padding: 3%;
    margin: 0% 1%;
    border-radius: 10%;
    background-color: rgb(67, 197, 41);
    box-shadow: rgb(240, 120, 120);
    /* color: rgb(58, 29, 187); */
    font-size: large;
    font-family: sans-serif;
    font-weight: 700;
    bottom: unset;
}

.btn__watch {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#restarts {
    /* visibility: hidden; */
    display: none;
}

.timer__watch {
    text-align: center;
    padding-top: 1rem;
    font-size: xx-large;
    font-family: cursive;
    color: green;
    /* padding-left: 2rem; */
}